<h1>Search results</h1>

<%= form_tag({:controller => "search", :action => "index"}, :method => "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q, @query) %>
  <%= submit_tag("Search!") %>
<% end %>

<% @search_results.each do |result| %>
  <%= result.total %> <%= result.order_score %> <%= result.count_score %> <%= result.title_score %> <%= link_to result.url,result.url %><br/>
<% end %>
